* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  position: relative;
  margin: auto;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.75;
  color: $textColor;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 12px;
}

a {
  color: $linkColor;
  text-decoration: none;
}